html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}
