.brand-info {
  padding-left: 16px;
}

.brand-info__title {
  position: relative;
  font-size: 20px;
  font-weight: normal;
  color: #000;

  &::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 0;
    height: 24px;
    width: 4px;
    background-color: $accent;
  }
}

.brand-info__title span {
  color: $red;
}

.brand-info__text {
  font-size: 8px;
  color: $dark;
}

@media ($media_tablet) {
  .brand-info {
    padding-left: 30px;
    width: 55%;
  }

  .brand-info__title {
    font-size: 30px;

    &::before {
      height: 34px;
      width: 6px;
    }
  }

  .brand-info__text {
    font-size: 12px;
  }
}

@media ($media_desktop) {
  .brand-info__title {
    font-size: 40px;

    &::before {
      height: 44px;
      width: 8px;
      left: -30px;
    }
  }

  .brand-info__text {
    font-size: 14px;
  }
}
