.btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 40px;

  cursor: pointer;
  border: none;
  background: $accent;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: bold;

  &--catalog {
    font-size: 20px;
    margin-top: 30px;
  }

  &--product {
    font-size: 17px;
    padding: 15px;
    width: 234px;
  }

  &--other {
    padding: 15px 18px;

    background: transparent;
    color: $accent;
    border: 2px solid $accent;
    font-size: 20px;
  }

  &:hover {
    opacity: .7;
  }
}

@media ($media_tablet) {
  .btn--other {
    display: none;
  }

  .btn--product {
    width: 400px;
    margin-top: 30px;
  }
}

@media ($media_desktop) {
  .btn {
    font-size: 20px;
    padding: 15px 46px;
  }

  .btn--catalog {
    margin-top: 45px;
    margin-left: 10px;
  }

  .btn--product {
    width: auto;
    padding: 15px;
    margin-top: 0;

    position: absolute;
    left: 36px;
    right: 36px;
    bottom: 25px;
  }
}

