.content {
  background: #eeedeb url('../img/popular-pattern.jpg') 0 0 repeat;
  padding: 15px 0 60px;
}

.content__wrapper {
  @include container;
}

@media ($media_tablet) {

}

@media ($media_desktop) {
  .content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      width: 230px;
      height: 247px;
      background: url('../img/popular-bottom.png');
      z-index: 1;
    }
  }

  .content__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
