.index-img {
  position: relative;
  z-index: -1;
  text-align: center;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 7px;
  margin-top: 42px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    height: 2px;
    width: 100%;
    background-color: $red;
  }
}

@media ($media_tablet) {
  .index-img {
    padding-bottom: 19px;
    margin-bottom: 10px;
    margin-top: 0;

    &::after {
      height: 6px;
    }
  }
}

