.logo {
  @include container;
  position: relative;
  display: block;
}

.logo img {
  position: absolute;
  left: 5px;
  z-index: 1;

  width: 64px;

  @media ($media_tablet) {
    left: 10px;
    width: 150px;
  }

  @media ($media_desktop) {
    left: 30px;
    width: 200px;
  }
}
