.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  height: 42px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

@media ($media_tablet) {
  .page-header {
    box-shadow: none;
    height: auto;
    position: static;
    width: auto;
  }

}
